{% extends 'base.html' %}
{% load static %}

{% block content %}
  
  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a href="/">Home</a></li>
            <li>Who we are</li>
        </ol>
        <h2>Digital Fortress</h2>

    </div>
</section><!-- End Breadcrumbs -->


  <!-- ======= Hero Section ======= -->
  <section id="about" class="about mt-5">

    <div class="container" data-aos="fade-up">
      {% include 'Partial/_alert.html'%}
      

        <div class="col-lg-12 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="content">
            
            <h2>
                We are the leading Global Talent Development Corporation</h2>
            <p style="line-height: 50px;">
                Established in 1981, Digital Fortress Limited, a global leader in Skills and Talent Development Corporation, offers multi-disciplinary learning management and training delivery solutions to corporations, institutions, and individuals in over 40 countries. Digital Fortress has three main lines of business across the globe- Corporate Learning Group, Skills and Careers Group, and School Learning Group.

                Digital Fortress trains over 16,000 students in Nigeria every year and has shaped the careers of over 160,000 students in past 16 years. Digital Fortress Now has more than 21 operational centres in different regions
                 of Nigeria and is acknowledged as the undisputed leader in the country’s IT training and education segment.
            </p>
            <h2>Why Digital Fortress?</h2>
           <p > <i class="bi bi-arrow-right"></i> Providing latest technology digital transformation training program like BIG DATA, Java with DevOps, Digital Marketing</p>
           <p > <i class="bi bi-arrow-right"></i> Project based learning methodology</p>
           <p > <i class="bi bi-arrow-right"></i> Learning resources like Physical Courseware for each students, Videos, reference sites, online assessments etc</p>
           <p > <i class="bi bi-arrow-right"></i> World Class Learning Environment and Facilities</p>
           <h2>About digital Fortress</h2>
           <p style="line-height: 50px;">Digital Fortress Limited opened for business officially in July 2006 in GRA Ikeja. With a parent company based in the United Kingdom, ForteSoft opened with a vision for the development of the ICT industry in Nigeria. <br> 

            While the aim is the development of new technology aimed for our peculiar environment, we recognized the need for developing a workforce capable of using current technology and the need for improvements in training methodology for ICT products in this environment. <br> 
            
            With this in mind we decided to tie up as a franchise partner with an international ICT training organization with pedigree and wherewithal — Digital Fortress. <br> 
            
            Growing from there, we now have well equipped and fully operational training centres all over Lagos, placing an emphasis on the future generation workforce of this great nation. Our Digital Fortress@Skool division has grown in leaps and bounds. <br> 
            
            We also have partnerships with internationally reputable ICT companies such as HP, LG, Alt-n Technologies and McAfee. <br> 
            
            Our success stories tell the whole story. We have continually evolved within the Nigerian environment to remain relevant and be a contributor to the nations’ gross domestic product. Indeed we are proud to have been the preferred training solutions provider to the Science and Technology ministry of Lagos State on AutoCAD training for the last 3 years, with a 98 percent excellent rating from all trained staff, on our Digital Fortress platform.</p>
            
            
          </div>
        </div>

        

      
    </div>

  </section><!-- End About Section -->
  
   




    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">

       
        <div class="row">

          <div class="col-lg-4">
            <img src="static/img/missionnn-removebg-preview.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 ml-lg-2 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <div class="count-box">
               
                 
                <div>
                  <br>
                  <h3 style="color: #0067a8; font-family: fikky5,sans-serif;">MISSION STATEMENT</h3>
                  <p style="color: #200000;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse corporis incidunt eius fugiat! Consequatur, a explicabo molestias fugiat in rem?</p>
                </div>
              </div>

            </div>
          </div>
         
          </div>

        </div> <!-- / row -->
        <div class="container">
          <hr style="color: #0067a8;">
        </div>
        <div class="container mt-4">
        <div class="row">
          <div class="col-lg-8 ml-lg-2 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <div class="count-box">
               
                 
                <div>
                  <br>
                  <h3 style="color: #0067a8; font-family: fikky5,sans-serif;">VISION STATEMENT</h3>
                  <p style="color: #200000;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ipsam beatae rem vitae 
                    similique enim, incidunt veritatis minima deserunt odit..</p>
                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-4">
            <img src="static/img/visionnn-removebg-preview.png" class="img-fluid" alt="">
          </div>
         
         
          </div>

        </div> <!-- / row -->
        <div class="container">
          <hr style="color: #0067a8;">
        </div>
      </div>

       

       

      </div>

    </section><!-- End Features Section -->
    
    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Our Market</h2>
          <p>Who we serve</p>
        </header>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <img src="static/img/blog/img11.JPG" class="img-fluid" alt="">
              <h3>Cooperate Organizations</h3>

            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <img src="static/img/blog/img12.JPG" class="img-fluid" alt="">
              <br>
              <h3>Educational Institutions</h3>
             
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
            <div class="box">
              <img src="static/img/blog/img13.JPG" class="img-fluid" alt="">
              <br>
              <h3>Young ICT Enthusiast/
                Prospective Programmers</h3>
          
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Values Section -->

   
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <p>Meet the board of directors</p>
        </header>
        <div class="row gy-4">
          {% if teams %}
          {% for team in teams %}
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="{{team.image.url}}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>{{team.name}}</h4>
                <span>{{team.position}}</span>
                <p>{{team.description}}.</p>
              </div>
            </div>
          </div>
          {% endfor %}
        {% else %}
        <div class="col-md-12">
          <h3>No Team available</h3>
        </div>
    {% endif %}
         

         

        </div>

      </div>

    </section><!-- End Team Section -->



  
   

  </main><!-- End #main -->

  {% endblock %}