
  {% extends 'base.html' %}
  {% load static %}
  
  {% block content %}
  
  
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/">Home</a></li>
          <li>Blogs</li>
        </ol>
        <h2>Blogs</h2>

      </div>
    </section><!-- End Breadcrumbs -->
    <div class="col-lg-4">

     

    </div><!-- End blog sidebar -->

  </div>
   <!-- ======= Blog Section ======= -->
   <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">
        <div class="col-lg-12 entries">  
        </div>
        <div class="col-lg-12">
          <div class="sidebars">
            <h3 class="sidebar-title">Search</h3>
            <div class="sidebar-item search-form">
              <form action="">
                <input type="text">
                <button type="submit"><i class="bi bi-search"></i></button>
              </form>
            </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Blog Section -->
    
    
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            {% if blogs %}

                  {% for blog in blogs %}
                  <article class="entry">

                    <div class="entry-img">
                      <img src="{{blog.image.url}}" alt="" class="img-fluid">
                    </div>
      
                    <h2 class="entry-title">
                      <a href="{% url 'blog' blog.id %}">{{blog.blog}}</a>
                    </h2>
      
                    <div class="entry-meta">
                      <ul>
                        <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="{% url 'blog' blog.id %}">{{blog.posted_by}}</a></li>
                        <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="{% url 'blog' blog.id %}"><time >{{blog.posted_day}}</time></a></li>
                        
                      </ul>
                    </div>
      
                    <div class="entry-content">
                      <p>
                       {{blog.header}}
                      </p>
                      <div class="read-more">
                        <a href="{% url 'blog' blog.id %}">Read More</a>
                      </div>
                    </div>
      
                  </article><!-- End blog entry -->
                  {% endfor %}
            {% else %}
            <div class="col-md-12">
              <h3>No Blog available</h3>
            </div>
            {% endif %}

           

           

            <div class="blog-pagination">
              <ul class="justify-content-center">
                <li><a href="#">1</a></li>
                <li class=""><a href="#">2</a></li>
                <li><a href="#">3</a></li>
              </ul>
            </div>

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

             
              <h3 class="sidebar-title">Recent Posts</h3>
              <div class="sidebar-item recent-posts">
                {% if blogs %}

                {% for blog in blogs %}
                <div class="post-item clearfix">
                  <img src="{{blog.image1.url}}" alt=""> 
                  <h4><a href="{% url 'blog' blog.id %}">{{blog.title2}}</a></h4>
                  <time datetime="2020-01-01">{{blog.posted_day}}</time>
                </div>
                {% endfor %}
            {% else %}
            <div class="col-md-12">
              <h3>No Blog available</h3>
            </div>
            {% endif %}


              

              </div><!-- End sidebar recent posts-->

             

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

  {% endblock %}